:root {
  --color-primary: #4ecf8f;
  --color-primary-2: #faa45f;
  --color-grey: #f0f7f4;
  --font-display: 'Merriweather', serif; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 1.6rem;
  font-family: var(--font-display);
  font-weight: 300; }

.btn {
  font-size: inherit;
  padding: 1rem 2.5rem;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em; }
  .btn-primary {
    border: none;
    background: var(--color-primary-2); }
    .btn-primary:hover {
      background: #e99a5a; }
  .btn-outline {
    color: white;
    border: 2px solid white;
    outline: none; }
    .btn-outline:hover {
      color: white; }
    .btn-outline-primary {
      position: absolute;
      bottom: 0;
      left: 38%;
      border: 2px solid white;
      color: white;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%); }
      .btn-outline-primary:hover {
        background: var(--color-primary);
        border: 2px solid var(--color-primary); }
  .btn-primary-nav {
    color: var(--color-primary) !important;
    background: white;
    margin-left: 2rem;
    display: inline-block; }

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit; }

a:hover {
  text-decoration: none;
  color: inherit; }

#header {
  transition: all 0.5s;
  background: var(--color-primary);
  z-index: 997;
  padding: 15px 0; }

#header.header-scrolled {
  border-color: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08); }

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif; }

#header .logo a {
  color: #fff; }

#header .logo img {
  max-height: 40px; }

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px; } }
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu > ul {
  display: flex;
  align-items: center; }

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap; }

.nav-menu > ul > li:not(:last-child) {
  padding-right: 7rem; }

.nav-menu > ul > li:hover::after {
  content: '';
  display: BLOCK;
  margin: 0 auto;
  margin-top: 6px !important;
  background: #Fff;
  height: 2.5px;
  margin-left: 0 !important;
  /* width: 4.7rem; */ }

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 1.6rem;
  font-family: inherit;
  text-decoration: none; }

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: white; }

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 18px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right; }

.mobile-nav-toggle i {
  color: #fff; }

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: var(--color-primary);
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0; }

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none; }

.mobile-nav a {
  display: block;
  position: relative;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
  outline: none; }

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: white;
  text-decoration: none; }

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(10, 38, 58, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s; }

.mobile-nav-active {
  overflow: hidden; }

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible; }

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff; }

.banner {
  margin-top: 20rem; }
  .banner-title {
    font-size: 3rem; }
    .banner-title__paragraph {
      font-size: 1.6rem;
      padding: 2rem 0;
      color: #001a0d; }

.subscribe-body {
  border: 5px solid var(--color-primary-2);
  background: white;
  background-image: url(../img/Illustration_2.png.jpg);
  background-repeat: no-repeat;
  background-size: 18rem;
  background-position: top right;
  padding: 3rem;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  transform: translateX(10rem);
  -webkit-transform: translateX(10rem);
  -moz-transform: translateX(10rem);
  -ms-transform: translateX(10rem);
  -o-transform: translateX(10rem);
  position: relative;
  z-index: 500;
  outline-style: solid;
  outline-color: white;
  -moz-outline-radius: 11px; }
.subscribe-title {
  font-weight: 700;
  margin-bottom: 5rem; }
  .subscribe-title span {
    font-weight: 300;
    font-size: 1.6rem; }
.subscribe-btn {
  display: block;
  width: 100%; }
.subscribe-right {
  background: var(--color-primary);
  border-radius: 0.5em;
  padding: 8rem;
  transform: translateY(9rem) translateX(2rem); }

#email {
  display: block;
  outline: none;
  width: 100%;
  margin: 2rem 0;
  border: none;
  border-bottom: 2px solid var(--color-primary-2);
  background: transparent; }

#password {
  display: block;
  outline: none;
  width: 100%;
  margin: 2rem 0;
  border: none;
  border-bottom: 2px solid var(--color-primary-2);
  background: transparent; }

::placeholder {
  color: var(--color-primary-2); }

.forgot-link {
  color: inherit;
  text-decoration: underline; }
  .forgot-link:hover {
    color: var(--color-primary); }

.about-us__heading {
  font-weight: 800;
  font-size: 4rem;
  padding-top: 14rem;
  padding-bottom: 5rem; }

.card {
  border: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .card:hover {
    background: var(--color-primary);
    color: white;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em; }
  .card-body {
    padding: 3rem; }
    .card-body__icon {
      padding-bottom: 2rem;
      height: 7rem;
      width: 7rem;
      display: block;
      fill: var(--color-primary); }
  .card-title {
    color: var(--color-primary);
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 700; }
  .card-text {
    font-size: 1.6rem; }
  .card:hover .card-title {
    color: white; }

.card:hover .card-body__icon {
  fill: white; }

.svg {
  height: 7rem;
  width: 7rem;
  display: block; }

.blog {
  padding: 3rem 0;
  background: var(--color-grey); }
  .blog-heading {
    font-weight: 800;
    font-size: 4rem;
    padding-bottom: 5rem; }
  .blog-card-body {
    padding: 1rem 0; }
  .blog-link__title {
    color: inherit;
    font-size: 2.5rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s; }
    .blog-link__title:hover {
      color: var(--color-primary); }

.news-letter {
  background: var(--color-primary-2);
  padding: 5rem 0; }
  .news-letter__body {
    color: white;
    padding-top: 6rem; }
  .news-letter__title {
    font-size: 3rem; }
  .news-letter__brief {
    font-size: 1.6rem; }
  .news-letter__left {
    position: relative;
    transform: translateX(11rem);
    -webkit-transform: translateX(11rem);
    -moz-transform: translateX(11rem);
    -ms-transform: translateX(11rem);
    -o-transform: translateX(11rem); }
  .news-letter__img {
    opacity: 0.5; }

.header-save-letter {
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #77777745; }
  .header-save-letter__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-right: 2px solid #77777745; }
  .header-save-letter__logo {
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-primary); }
  .header-save-letter__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary); }

.user {
  display: flex;
  align-items: center;
  justify-content: center; }
  .user-img {
    width: 4rem;
    height: auto;
    border: 2px solid var(--color-primary);
    margin-right: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }
  .user-expand__icon {
    width: 2rem;
    height: 2.5rem;
    margin: 0 1rem; }
  .user-name {
    color: inherit;
    font-weight: bold; }

.admin {
  padding: 2rem; }
  .admin-panel {
    border: 2px solid #77777745;
    border-top: none; }
    .admin-panel__title {
      display: inline-block; }
  .admin-bar {
    padding: 2rem 0;
    text-align: center; }
    .admin-bar__details--icon {
      width: 2.5rem;
      height: 2.5rem;
      margin: 1rem 2rem; }
  .admin-img {
    border: 2px solid var(--color-primary);
    width: 13rem;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }
  .admin-user__details {
    padding-top: 1rem; }
  .admin-name {
    font-size: 1.6rem;
    font-weight: bold; }
  .admin-email {
    font-size: 1.2rem; }
  .admin-border {
    border-bottom: 1px solid #77777745;
    width: 82%;
    margin: 0 auto; }

.footer-log {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: 700; }
  .footer-log:hover {
    text-decoration: none;
    color: var(--color-primary); }
.footer-copyright {
  font-size: 1.6rem; }
.footer-nav {
  text-align: right; }
.footer-navbar {
  text-decoration: none;
  list-style: none; }
.footer-navbar__item {
  display: inline-block; }
  .footer-navbar__item:not(:last-child) {
    padding-right: 3rem; }
.footer-navbar__link {
  color: inherit; }
  .footer-navbar__link:hover {
    color: var(--color-primary);
    text-decoration: none; }
.footer-social-icons {
  margin-top: 5rem; }
.footer-social__icon {
  font-size: 2.5rem;
  color: var(--color-primary);
  display: inline-block; }
  .footer-social__icon:not(:last-child) {
    margin-right: 3rem; }
  .footer-social__icon:hover {
    color: var(--color-primary);
    text-decoration: none; }

/*# sourceMappingURL=main.css.map */
