.admin-body__content {
  &__compose--title {
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 2.4rem;
  }
  &__compose {
    &__wrapper {
      border: 2px solid #77777745;
      border-radius: 1em;
      -webkit-border-radius: 1em;
      -moz-border-radius: 1em;
      -ms-border-radius: 1em;
      -o-border-radius: 1em;
    }
    &__input {
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      background: var(--color-primary);
      border-radius: 1em 1em 0 0;
      -webkit-border-radius: 1em 1em 0 0;
      -moz-border-radius: 1em 1em 0 0;
      -ms-border-radius: 1em 1em 0 0;
      -o-border-radius: 1em 1em 0 0;
      &::placeholder {
        color: white;
      }
      &--border {
        background: white;
        display: inline-block;
        height: 1px;
        width: 95%;
        transform: translateY(-1rem);
        -webkit-transform: translateY(-1rem);
        -moz-transform: translateY(-1rem);
        -ms-transform: translateY(-1rem);
        -o-transform: translateY(-1rem);
      }
    }
    &__input--text {
      background: transparent;
      border: none;
      outline: none;
    }
    &__input--textarea {
      border-bottom: 2px solid #77777745;
    }
    &__input--textarea textarea {
      height: 40vh;
      border: none;
      resize: none;
      padding: 2rem;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: grey;
      }
    }
    &__input__button--group {
      padding-left: 2rem;
      border-top: 2px solid #77777745;
    }
  }
}
