.footer {
  &-log {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 3.4rem;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: var(--color-primary);
    }
  }
  &-copyright {
    font-size: 1.6rem;
    padding-top: 2rem;
  }
  &-nav {
    text-align: right;
  }
  &-navbar {
    text-decoration: none;
    list-style: none;
    padding-top: 3re;
  }
  &-navbar__item {
    display: inline-block;
    font-size: 1.8rem;
    &:not(:last-child) {
      padding-right: 3rem;
    }
  }
  &-navbar__link {
    color: inherit;
    &:hover {
      color: var(--color-primary);
      text-decoration: none;
    }
  }
  &-social-icons{
    margin-top: 5rem;
  }
  &-social__icon {
    font-size: 2.5rem;
    color: var(--color-primary);
    display: inline-block;
    &:not(:last-child){
      margin-right: 3rem;
    }

    &:hover{
      color: var(--color-primary);
      text-decoration: none;
    }
  }
}
