.news-letter {
  background: var(--color-primary-2);
  padding: 5rem 0;
  &__body {
    color: white;
    padding-top: 6rem;
  }
  &__title {
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 1.7;
  }
  &__brief {
    font-size: 1.6rem;
  }
  &__left {
    position: relative;
    transform: translateX(11rem);
    -webkit-transform: translateX(11rem);
    -moz-transform: translateX(11rem);
    -ms-transform: translateX(11rem);
    -o-transform: translateX(11rem);
  }
  &__img {
    opacity: 0.5;
  }
}
