@media screen and(max-width: 900px) {
  // Header Section start
  .header-save-letter__left {
    border: none;
  }
  .header-save-letter__left svg {
    display: none;
  }
  //Header Section End

  .admin-bar__details--icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
  //Admin panel start
  .admin-name {
    font-size: 1.5rem;
  }
  .admin-email {
    font-size: 1rem;
  }
  //Admin Banner Section
  .admin-body__banner__content--welcome {
    font-size: 1.5rem;
  }
  .admin-body__banner__content--name {
    font-size: 2rem;
  }
  .admin-body__content__search--title {
    font-size: 2rem;
  }
  .admin-body__content__header__icons {
    padding-left: 1rem;
    width: 17%;
  }

  .admin-body__content__wrapper__icons {
    padding-left: 1rem;
    width: 13%;
  }
  .admin-body__content__compose__input {
    flex-direction: column;
  }

  .admin-body__content__content__header__sent--title {
    padding-left: 6.5rem;
  }
  .admin-body__content__wrapper__sent {
    margin-left: 2.5rem;
  }
  .admin-body__content__wrapper__sent__content {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  // Header Section start
  .header-save-letter__left {
    border: none;
  }
  .header-save-letter__left svg {
    display: none;
  }
  //Header Section End

  // Login Section

  .login-right__title {
    font-size: 3rem;
  }
  .login-right__description {
    font-size: 1.5rem;
    width: 50%;
  }

  //Admin panel start
  .admin-name {
    font-size: 1.5rem;
  }
  .admin-email {
    font-size: 1rem;
  }
  .admin-bar__details {
    padding: 0 1rem;
  }
  .admin-bar__details--icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
  //Admin Banner Section
  .admin-body__banner__content--welcome {
    font-size: 1.5rem;
  }
  .admin-body__banner__content--name {
    font-size: 2rem;
  }
  .admin-body__content__search--title {
    font-size: 2rem;
  }
  .admin-body__content__header__icons {
    padding-left: 1rem;
    width: 17%;
  }

  .admin-body__content__wrapper__icons {
    padding-left: 1rem;
    width: 13%;
  }

  .admin-body__content__compose__input {
    flex-direction: column;
  }

  //Admin Sent Section
  .admin-body__content {
    padding: 2rem 1rem;
  }
  .admin-body__content__content__header__sent--title {
    padding-left: 7rem;
  }

  .admin-body__content__wrapper__sent {
    margin-left: 2rem;
  }
  .admin-body__content__wrapper__sent__content {
    padding-left: 2rem;
  }
  // Banner
  .col-md-6 {
    padding-left: 0;
  }
  .banner-title {
    font-size: 3rem;
  }

  // About Section
  .jumbotron {
    padding: 4rem 0;
  }
  .card-body {
    padding: 0;
  }
  .card-title {
    font-size: 2.5rem;
  }
  //NEw Letter
  .new-letter__title {
    font-size: 3rem;
  }
}
@media (max-width:500px){
  .flex-container{
      flex-direction: column;
  }
  .login-right{
      display: none;
  }
}
@media screen and (max-width: 425px) {
  .user {
    justify-content: start;
    padding: 2rem 0;
  }
  .admin-name {
    font-size: 2rem;
  }
  .admin-email {
    font-size: 1.5rem;
  }

  .admin-body__content__header__icons {
    width: 23%;
  }
  .admin-body__content__header__icons--icon {
    padding-left: 0.2rem;
  }

  .admin-body__content__wrapper__icons--icon {
    width: 0.5rem;
  }
  .admin-body__content__content__header--title {
    width: 55%;
  }
  //Subscrips
  .subscribe-body {
    width: 90%;
    transform: translate(17px, 10px);
    padding: 1rem;
    -webkit-transform: translate(17px, 10px);
    -moz-transform: translate(17px, 10px);
    -ms-transform: translate(17px, 10px);
    -o-transform: translate(17px, 10px);
  }
  .subscribe-right {
    width: 95%;
    padding: 3rem;
  }
}
