.header-save-letter {
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #77777745;
  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-right: 2px solid #77777745;
  }
  &__logo {
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-primary);
  }
  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary);
  }
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  &-img {
    width: 4rem;
    height: auto;
    border: 2px solid var(--color-primary);
    margin-right: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &-name {
    color: inherit;
    font-weight: bold;
  }
  &-option {
    border: none;
    outline: none;
  }
}
.admin {
  padding: 2rem;

  &-panel {
    border: 2px solid #77777745;
    border-top: none;
    height: 100%;

    &__title {
      // display: inline-block;
    }
  }

  &-bar {
    padding: 2rem 0;
    text-align: center;

    &__details {
      list-style: none;
      padding: 0 2rem;
      &__list {
        margin-bottom: 2rem;
        &--link {
          text-decoration: none;
          color: inherit;
          display: flex;
          // justify-items: center;
          &:hover {
            text-decoration: none;
            color: inherit;
          }
        }
        &:last-child {
          margin: 3rem 0;
        }
      }
      &--icon {
        width: 2.5rem;
        height: 2.2rem;
        margin-right: 2rem;
      }
    }
  }
  &-img {
    border: 2px solid var(--color-primary);
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &-user__details {
    padding-top: 1rem;
  }
  &-name {
    font-size: 1.6rem;
    font-weight: bold;
  }
  &-email {
    font-size: 1.2rem;
  }
  &-border {
    border-bottom: 1px solid #77777745;
    width: 82%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  &-body__banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-primary);
    margin-top: 4rem;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;

    &__content {
      color: white;
      padding-left: 3rem;

      &--welcome {
      }
      &--name {
      }
    }
    &--img {
      width: 12rem;
      height: auto;
    }
  }

  &-body__content {
    border: 2px solid #77777745;
    padding: 3rem 2rem;
    margin-top: 3rem;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    &__search {
      &--title {
        padding-bottom: 1rem;
        font-weight: bold;
      }
      &--icon {
        color: grey;
        opacity: 0.5;
        font-size: 2rem !important;
        padding-top: -7rem;
        position: absolute;
        padding-top: 1.4rem;
        padding-left: 2rem;
      }
      &--box {
        width: 100%;
        border: none;
        border: 1px solid #77777745;
        padding: 1rem 5rem;
        border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        -ms-border-radius: 0.5em;
        -o-border-radius: 0.5em;
        outline: none;
      }
    }

    &__wrapper,
    &__wrapper__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 0;
      border-bottom: 1px solid #77777745;

      &__header {
        background: #f9f9f9;
        margin-top: 2rem;
        border: 1px solid #77777745;
        border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        -moz-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        -o-border-radius: 0.2em;
      }

      &__icons {
        padding-left: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 10%;
        &--icon svg {
          height: 2rem;
          width: 2rem;
          display: inline-block;
        }
      }
      &__content {
        width: 62%;
        font-size: 1.3rem;

        &--header {
          font-weight: bold;
        }
      }
      &--date {
        padding-right: 2rem;
        width: 12%;
      }
    }
    &__show {
      display: flex;
      align-items: center;
      margin: 2rem;

      &--text {
        padding-right: 2em;
      }
      &__options {
        background-color: #f0f0f0;
        outline: none;
        border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        -ms-border-radius: 0.5em;
        -o-border-radius: 0.5em;
        border: none;
        padding: 0.5rem;
      }
      &__option {
      }
    }
  }
  &-body__footer {
    border: 2px solid #77777745;
    padding: 1rem 2rem;
    margin-top: 2rem;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
  }
}
.admin-body__content__wrapper__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid #77777745;
}
.admin-body__content__header__icons {
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.admin-body__content__header__icons--icon svg {
  width: 1.7rem;
  height: 1.7rem;
}
.admin-body__content__content__header--title {
  width: 67%;
}
.admin-body__content__content__header {
  font-weight: bold;
}
.admin-body__content__header__date--title {
  padding-right: 2rem;
  width: 12%;
}
