.header-save-letter {
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #77777745;
  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-right: 2px solid #77777745;
  }
  &__logo {
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-primary);
  }
  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary);
  }
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  &-img {
    width: 4rem;
    height: auto;
    border: 2px solid var(--color-primary);
    margin-right: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &-expand__icon {
    width: 2rem;
    height: 2.5rem;
    margin: 0 1rem;
  }
  &-name {
    color: inherit;
    font-weight: bold;
  }
}
.admin {
  padding: 2rem;

  &-panel {
    border: 2px solid #77777745;
    border-top: none;
    // height: 120%;

    &__title{
        display: inline-block;
    }
  }

  &-bar {
    padding: 2rem 0;
    text-align: center;
    &__details--icon {
      width: 2.5rem;
      height: 2.5rem;
      margin: 1rem 2rem;
    }
  }
  &-img {
    border: 2px solid var(--color-primary);
    width: 13rem;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &-user__details {
    padding-top: 1rem;
  }
  &-name {
    font-size: 1.6rem;
    font-weight: bold;
  }
  &-email {
    font-size: 1.2rem;
  }
  &-border {
    border-bottom: 1px solid #77777745;
    width: 82%;
    margin: 0 auto;
  }
}
