.admin-body__content__content__header__sent--title{
  width: 73%;
  padding-left: 12.6rem;
}

.admin-body__content__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid #77777745;
  &__sent {
    width: 10%;
    margin-left: 2rem;
    &--text {
      font-size: 1.3rem;
      display: flex;
      justify-content: space-between;
    }
    &__icons {
      padding-left: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 10%;
    }
    &__content {
      // width: 60%;
      font-size: 1.6rem;
      padding-left: 3rem;
    }
    &--date {
      // padding-right: 2rem;
      width: 10%;
      font-size: 1.6rem;
    }
  }
}
