.btn {
  font-size: inherit;
  padding: 1rem 2.5rem;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  &-primary {
    border: none;
    background: var(--color-primary-2);
    &:hover {
      background: #e99a5a;
    }
  }
  &-outline {
    color: white;
    border: 2px solid white;
    outline: none;
    &:hover {
      color: white;
    }
    &-primary {
      position: absolute;
      bottom: 0;
      left: 38%;
      border: 2px solid white;
      color: white;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      &:hover {
        background: var(--color-primary);
        border: 2px solid var(--color-primary);
      }
    }
  }
  &-primary-nav {
    color: var(--color-primary) !important;
    background: white;
    margin-left: 2rem;
    display: inline-block;
  }
}

p {
  margin-bottom: 0;
}
// [type='search'] {
  
// }

input[type=checkbox]{
  width: 2rem !important;
  height: 2.2rem !important;
}
::placeholder{
  color: grey !important;
}
a{
  outline: none !important;
}